@model ITWorkLogs.Models.WorkLogs


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkLogs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ControlNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personnel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personnel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonConcern)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonConcern)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concern)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concern)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoneBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoneBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCanceled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCanceled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTransfered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTransfered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
