@model IEnumerable<ITWorkLogs.Models.WorkLogs>

@{
    ViewBag.Title = "List of Work Logs";
}

<h3>Your task</h3>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ControlID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personnel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonConcern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concern)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Date/Time In</th>
            <th>Created By</th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ControlID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Personnel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonConcern)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concern)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>@Html.ActionLink("Details", "Index", null, new { @class = "btn btn-info btn-xs", @role = "button" })</td>
            </tr>
        }

    </table>
</div>
